<div [ngClass]="!nav ? 'container-body' : 'container-body-extend'">
  <div class="ui-g">
      <form autocomplete="off" (ngSubmit)="pesquisar()">
        <div class="ui-g-12">
          <h1>Produtos</h1>
        </div>

        <div class="ui-g-12  ui-md-4 ui-fluid input-nome">
          <label>Nome</label>
          <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome"/>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid input-tipo">
            <label>Tipo</label>
            <p-dropdown [options]="tipos" placeholder="Selecione" name="tipo"
              [(ngModel)]="filtro.tipo" [showClear]="true"></p-dropdown>
          </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar" ></button>
        </div>
      </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
        <app-lista-produtos [produtos]="produtos" [totalRegistros]="totalRegistros"></app-lista-produtos>
    </div>
    <div class="ui-g-12">
        <button pButton type="submit" label="Novo Produto" (click)='novoProduto()'></button>
      </div>
  </div>

</div>
