<p-table [value]="vendedores" [paginator]="true" [rows]="filtro.itensPorPagina"
  [responsive]="true" [totalRecords]="totalRegistros" dataKey="codigo"
  [lazy]="true" (onLazyLoad)="aoMudarPagina($event)" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3em"></th>
            <th>Nome</th>
            <th class="col-email-header">Email</th>
            <th class="col-telefone-header">Telefone</th>
            <th class="col-cpf-header">CPF</th>
            <th class="col-situacao-header">Status</th>
            <th class="col-botao-header"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded">
        <tr>
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td>{{rowData.nome}}</td>
            <td class="col-email-content">{{rowData.email}}</td>
            <td class="col-telefone-content">{{rowData.telefone}}</td>
            <td class="col-cpf-content">{{rowData.cpf}}</td>
            <td class="col-situacao-content" [style.color]="rowData.ativo == false ? 'red' : 'blue'">
              {{rowData.situacao ? 'bloqueado' : 'ativo'}}
            </td>
            <td>
                <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" style="margin-right: 5px" class="ui-button-primary"></a>
                <a pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(rowData)" style="margin-right: 5px" class="ui-button-danger"></a>
                <a pButton icon="pi pi-list" pTooltip="Detalhar" tooltipPosition="top" class="ui-button-success"></a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="7" style="text-align: center">
                Nenhum vendedor encontrado
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData >
        <tr>
            <td [attr.colspan]="7">
                <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                    <div class="ui-g-12 ui-md-3" style="text-align:center">
                        <img src="" alt="">
                        <!--<img [attr.alt]="rowData.brand" src="assets/showcase/images/demo/car/{{rowData.brand}}.png">-->
                    </div>
                    <div class="ui-g-12 ui-md-9">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <b>Logradouro:</b> {{rowData.endereco.logradouro}}
                            </div>
                            <div class="ui-g-12">
                                <b>Número:</b> {{rowData.endereco.numero}}
                            </div>
                            <div class="ui-g-12">
                                <b>Complemento:</b> {{rowData.endereco.complemento}}
                            </div>
                            <div class="ui-g-12">
                                <b>Bairro:</b> {{rowData.endereco.bairro}}
                            </div>
                            <div class="ui-g-12">
                                <b>CEP:</b> {{rowData.endereco.cep}}
                            </div>
                            <div class="ui-g-12">
                              <b>Cidade:</b> {{rowData.endereco.cidade}}
                          </div>
                          <div class="ui-g-12">
                            <b>Estado:</b> {{rowData.endereco.estado}}
                        </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
