<div [ngClass]="!nav ? 'container-body' : 'container-body-extend'">
  <form #produtoForm="ngForm" (ngSubmit)="salvar(produtoForm)">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Novo Produto</h1>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Data Compra</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]=false [readonlyInput]="false" [showIcon]=true [locale]="ptbr"
          name="dataCompra" ngModel #dataCompra="ngModel" required
          [ngClass]="!dataCompra.valid && dataCompra.touched && !(dataCompra.value !== '') ? 'calendarClass' : null">
        </p-calendar>
        <p-message *ngIf="!dataCompra.valid && dataCompra.touched && !(dataCompra.value !== '')"
          severity="error" text="Informe uma data de compra">
        </p-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Valor Compra</label>
        <input pInputText placeholder="R$ 0,00" type="text" name="valorCompra" ngModel #valorCompra="ngModel" currencyMask required>
        <p-message *ngIf="!valorCompra.valid && valorCompra.touched && !(valorCompra.value !== '')"
          severity="error" text="Informe o valor da compra">
        </p-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Valor Venda</label>
        <input pInputText placeholder="R$ 0,00" type="text" name="valorVenda" ngModel #valorVenda="ngModel" currencyMask required>
        <p-message *ngIf="!valorVenda.valid && valorVenda.touched && !(valorVenda.value !== '')"
          severity="error" text="Informe o valor da venda">
        </p-message>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" ngModel #nome="ngModel"  required minlength="5">
        <p-message *ngIf="!nome.valid && nome.touched && !(nome.value !== '')"
          severity="error" text="Informe um nome">
        </p-message>
        <p-message *ngIf="nome.hasError('minlength')"
          severity="error" text="Nome tem que ter mais de {{ nome.errors.minlength.requiredLength }} caracteres">
        </p-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Tipo</label>
        <p-dropdown [options]="tipos" [filter]="true" placeholder="Selecione" name="tipo" ngModel #tipo="ngModel" required
          [ngClass]="!tipo.valid && tipo.touched && !(tipo.value !== '') ? 'calendarClass' : null">
        </p-dropdown>
        <p-message *ngIf="!tipo.valid && tipo.touched && !(tipo.value !== '')"
          severity="error" text="Informe um tipo">
        </p-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Comprimento</label>
        <input pInputText type="text" name="comprimento" ngModel  #comprimento="ngModel">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Largura</label>
        <input pInputText type="text" name="largura" ngModel  #largura="ngModel">
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Espessura</label>
        <input pInputText type="text" name="espessura" ngModel  #espessura="ngModel">
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Número</label>
        <input pInputText type="text" name="numero" ngModel  #numero="ngModel">
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Peso</label>
        <input pInputText type="text" name="peso" ngModel  #peso="ngModel">
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="4" name="observacao" ngModel #observacao="ngModel"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" style="margin-right: 5px" [disabled]="produtoForm.invalid"></button>
        <button pButton type="button" label="Novo" style="margin-right: 5px" class="ui-button-info" (click)="resetar(produtoForm)"></button>
        <a routerLink="/produto">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
