<div [ngClass]="!nav ? 'container-body' : 'container-body-extend'">
  <form [formGroup]="clienteForm" (ngSubmit)="salvar()">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Novo Cliente</h1>
      </div>

      <div class="ui-g-12 ui-md-7 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" formControlName="nome" required >
        <p-message *ngIf="!!clienteForm.get('nome').errors?.required && (clienteForm.get('nome').touched)"
          severity="error" text="Informe um nome">
        </p-message>
        <p-message *ngIf="!!clienteForm.get('nome').errors?.minlength"
          severity="error" text="Nome tem que ter mais de 5 caracteres">
        </p-message>
        <p-message *ngIf="!!clienteForm.get('nome').errors?.maxlength"
          severity="error" text="Nome tem que ter menos de 50 caracteres">
        </p-message>
      </div>

      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Email</label>
        <input pInputText type="email" name="email" formControlName="email" required>
        <p-message *ngIf="!!clienteForm.get('email').errors?.required && (clienteForm.get('email').touched)"
          severity="error" text="Informe um email">
        </p-message>
        <p-message *ngIf="!!clienteForm.get('email').errors?.email && clienteForm.get('email').touched"
          severity="error" text="Email inválido">
        </p-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CPF</label>
        <p-inputMask mask="999.999.999-99" name="cpf" formControlName="cpf"></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Telefone fixo</label>
        <p-inputMask mask="(99) 9999-9999" name="telefone" formControlName="telefone" required></p-inputMask>
        <p-message *ngIf="!!clienteForm.get('telefone').errors?.required && (clienteForm.get('telefone').touched)"
          severity="error" text="Informe um telefone">
        </p-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Celular</label>
        <p-inputMask mask="(99) 99999-9999" name="celular" formControlName="celular" required></p-inputMask>
        <p-message *ngIf="!!clienteForm.get('celular').errors?.required && (clienteForm.get('celular').touched)"
          severity="error" text="Informe um celular">
        </p-message>
      </div>

      <div formGroupName="endereco">
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>CEP</label>
          <input pInputText type="text" name="cep" formControlName="cep" (blur)="consultaCEP($event.target.value)">
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Número</label>
          <input pInputText type="text" name="numero" formControlName="numero">
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Complemento</label>
          <input pInputText type="text" name="complemento" formControlName="complemento">
        </div>

        <div class="ui-g-12 ui-md-8 ui-fluid">
          <label>Logradouro</label>
          <input pInputText type="text" name="logradouro" formControlName="logradouro">
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Bairro</label>
          <input pInputText type="text" name="bairro" formControlName="bairro">
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Cidade</label>
          <input pInputText type="text" name="cidade" formControlName="cidade">
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Estado</label>
          <input pInputText type="text" name="estado" formControlName="estado">
        </div>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" style="margin-right: 5px" [disabled]="clienteForm.invalid"></button>
        <button pButton type="button" label="Novo" style="margin-right: 5px" class="ui-button-info" (click)="resetar(clienteForm)"></button>
        <a (click)="voltarLista()">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
