  <mat-toolbar style="height: 48px;" class="container-primary navbar" [ngClass]="!nav ? 'container-navbar' : 'container-primary'">
    <div class="ui-g">
      <div class="ui-g-12">
        <a class="navbar-toggle" (click)="mudarNav()"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </mat-toolbar>

  <mat-nav-list>
    <div class="navbar-menu" [hidden]="nav">
      <a mat-list-item  class="navbar-usuario"><mat-icon>person</mat-icon>
        <span class="nav-caption">Raphael</span>
      </a>

      <a mat-list-item class="list-item" [ngClass]="{'ativo' : showSubmenu}"
        (click)="showSubmenu = !showSubmenu; mostrarMenu(showSubmenu, 1)">
        <mat-icon>business_center</mat-icon> <span class="nav-caption">Produto</span>
      </a>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
        <a mat-list-item [routerLink]="['produto']">
          <mat-icon>list</mat-icon><span class="nav-caption">Listar</span>
        </a>
        <a mat-list-item [routerLink]="['cadastraProduto']">
          <mat-icon>add_box</mat-icon><span class="nav-caption">Cadastrar</span>
        </a>
      </div>

      <a mat-list-item class="list-item" [ngClass]="{'ativo' : showSubmenu1}"
        (click)="showSubmenu1 = !showSubmenu1; mostrarMenu(showSubmenu1, 2)">
        <mat-icon>attach_money</mat-icon> <span class="nav-caption">Venda</span>
      </a>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu1}">
        <a mat-list-item>
          <mat-icon>list</mat-icon><span class="nav-caption">Listar</span>
        </a>
        <a mat-list-item>
          <mat-icon>add_shopping_cart</mat-icon><span class="nav-caption">Registrar venda</span>
        </a>
      </div>

      <a mat-list-item class="list-item" [ngClass]="{'ativo' : showSubmenu2}"
        (click)="showSubmenu2 = !showSubmenu2; mostrarMenu(showSubmenu2, 3)">
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu2}">face</mat-icon> <span class="nav-caption">Vendedor</span>
      </a>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu2}">
        <a mat-list-item [routerLink]="['vendedor']">
          <mat-icon>list</mat-icon><span class="nav-caption">Listar</span>
        </a>
        <a mat-list-item [routerLink]="['cadastraVendedor']">
          <mat-icon>person_add</mat-icon><span class="nav-caption">Cadastrar</span>
        </a>
      </div>

      <a mat-list-item class="list-item" [ngClass]="{'ativo' : showSubmenu3}"
        (click)="showSubmenu3 = !showSubmenu3; mostrarMenu(showSubmenu3, 4)">
        <mat-icon>account_box</mat-icon> <span class="nav-caption">Cliente</span>
      </a>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu3}">
        <a mat-list-item class="list-item" [routerLink]="['cliente']" routerLinkActive="ativo">
          <mat-icon>list</mat-icon><span class="nav-caption">Listar</span>
        </a>
        <a mat-list-item class="list-item" [routerLink]="['cadastraCliente']" routerLinkActive="ativo">
          <mat-icon>person_add</mat-icon><span class="nav-caption">Cadastrar</span>
        </a>
      </div>

      <div class="list-item" [ngClass]="{'ativo' : showSubmenu4}" routerLinkActive="ativo">
        <a mat-list-item [routerLink]="['dashboard']"
        (click)="showSubmenu4 = !showSubmenu4; mostrarMenu(showSubmenu4, 5)">
          <mat-icon>timeline</mat-icon> <span class="nav-caption">Dashboard</span>
        </a>
    </div>

    </div>
  </mat-nav-list>




