.navbar {
  position: fixed;
  padding: 0px;
  background-color: rgb(33, 150, 243);
  border-radius: 0px;
  border-bottom: 1px solid #525151;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  overflow: hidden;
  z-index: 9998;
}

.navbar-toggle {
  color: #fff;
  font-size: 1.5em;
}

.navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 14%;
  margin: 0;
  padding: 0;
  z-index: 9998;
  overflow: hidden;

  border-right: 1px solid #525151;
  background-color: #fdfeff;

  list-style: none;
}

.navbar-usuario {
  padding: 40px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;
  background-color: rgb(33, 150, 243);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.navbar-menuitem {
  padding: 15px;
}

.navbar-menuitem a {
  color: #c0b9b7;
  text-decoration: none;
}

.navbar-menuitem a:hover {
  color: #fff;
}

.navbar-menuitem.ativo {
  background-color: #494341;
}

.nav-caption{
  display: inline-block;
  padding-left: 6px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.mat-list-item {
  height: 10px;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(360deg);
}
.submenu {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
  padding-left: 20px;
  overflow-x: hidden;
}
.submenu.expanded {
  height: 96px;
  overflow-x: hidden;
}

.menu-button.ativo, .nav-caption.ativo {
  background-color: #ddebf3;
}

.list-item.ativo {
  background-color: #ddebf3;
}

.submenu.ativo {
  background-color: #ddebf3;
}
