<mat-sidenav-container>
  <mat-sidenav-content>
    <app-navbar></app-navbar>
    <main>
        <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng2-toasty [position]="'top-right'"></ng2-toasty>

<p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>

<!--
  [ngClass]="true ? 'container-body' : 'container-primary'"

  <app-pesquisa-produto #sideBar></app-pesquisa-produto>
  <app-cadastra-produto></app-cadastra-produto>
  <app-pesquisa-cliente></app-pesquisa-cliente>
  <app-cadastra-cliente></app-cadastra-cliente>
-->

