<div [ngClass]="!nav ? 'container-body' : 'container-body-extend'">
    <div class="ui-g">
        <form autocomplete="off" (ngSubmit)="pesquisar()">
          <div class="ui-g-12">
            <h1>Vendedores</h1>
          </div>

          <div class="ui-g-12  ui-md-3 ui-fluid input-nome">
            <label>Nome</label>
            <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome"/>
          </div>

          <div class="ui-g-12  ui-md-3 ui-fluid input-nome">
            <label>Email</label>
            <input type="text" pInputText name="email" [(ngModel)]="filtro.email"/>
          </div>

          <div class="ui-g-12  ui-md-3 ui-fluid input-nome">
            <label>Telefone</label>
            <input type="text" pInputText name="telefone" [(ngModel)]="filtro.telefone"/>
          </div>

          <div class="ui-g-12  ui-md-3 ui-fluid input-nome">
            <label>Logradouro</label>
            <input type="text" pInputText name="logradouro" [(ngModel)]="filtro.logradouro"/>
          </div>

          <div class="ui-g-12">
            <button pButton type="submit" label="Pesquisar" ></button>
          </div>
        </form>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <app-lista-vendedor [vendedores]="vendedores" [totalRegistros]="totalRegistros"></app-lista-vendedor>
      </div>
      <div class="ui-g-12">
          <button pButton type="submit" label="Novo Vendedor" (click)='novoVendedor()'></button>
        </div>
    </div>

  </div>
