.col-botao-header {
  width: 135px;
}

.col-situacao-header {
  width: 90px;
}

.col-situacao-content {
  text-align: center;
}

.col-cpf-header {
  width: 140px;
}

.col-cpf-content {
  text-align: center;
}

.col-telefone-header {
  width: 140px;
}

.col-telefone-content {
  text-align: center;
}

.col-email-header {
  width: 240px;
}

.col-email-content {
  text-align: center;
}
