.col-valor-header {
  width: 130px;
  text-align: center;
}
.col-valor-content {
  text-align: right;
}

.col-data-header {
  width: 120px;
  text-align: center;
}

.col-data-content {
  text-align: center;
}

.col-vendido-header {
  width: 90px;
  text-align: center;
}

.col-vendido-content {
  text-align: center;
}

.col-tipo-header {
  width: 120px;
  text-align: center;
}

.col-tipo-content {
  text-align: center;
}

.col-botao-header {
  width: 135px;
  text-align: center;
}

.col-nome-header {
  text-align: center;
}



