<p-table [value]="produtos" [paginator]="true" [rows]="filtro.itensPorPagina"
  [responsive]="true" [totalRecords]="totalRegistros" dataKey="codigo"
  [lazy]="true" (onLazyLoad)="aoMudarPagina($event)" [loading]="loading" class="ui-datatable .ui-datatable-data">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3em"></th>
            <th >Nome</th>
            <th class="col-tipo-header">Tipo</th>
            <th class="col-data-header">Data Compra</th>
            <th class="col-valor-header">Valor Compra</th>
            <th class="col-valor-header">Valor Venda</th>
            <th class="col-vendido-header">Status</th>
            <th class="col-botao-header"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded">
        <tr>
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td>{{rowData.nome}}</td>
            <td class="col-tipo-content">{{rowData.tipo}}</td>
            <td class="col-data-content">{{rowData.dataCompra | date:'dd/MM/y'}}</td>
            <td class="col-valor-content">R${{rowData.valorCompra | number:'1.2-2'}}</td>
            <td class="col-valor-content">R${{rowData.valorVenda | number:'1.2-2'}}</td>
            <td class="col-vendido-content" [style.color]="rowData.vendido == false ? 'red' : 'blue'">
              {{rowData.vendido ? 'Disponivel' : 'Vendido'}}
            </td>
            <td>
                <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" style="margin-right: 5px" class="ui-button-primary"></a>
                <a pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(rowData)" style="margin-right: 5px" class="ui-button-danger"></a>
                <a pButton icon="pi pi-list" pTooltip="Detalhar" tooltipPosition="top" class="ui-button-success"></a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="8" style="text-align: center">
                Nenhum produto encontrado
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData >
        <tr>
            <td [attr.colspan]="8">
                <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                    <div class="ui-g-12 ui-md-3" style="text-align:center">
                        <img [attr.alt]="rowData.nome" src="assets/imagens/{{rowData.codigo}}.png">
                    </div>
                    <div class="ui-g-12 ui-md-9">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <b>Coprimento:</b> {{rowData.comprimento}}cm
                            </div>
                            <div class="ui-g-12">
                                <b>Largura:</b> {{rowData.largura}}cm
                            </div>
                            <div class="ui-g-12">
                                <b>Espessura:</b> {{rowData.espessura}}cm
                            </div>
                            <div class="ui-g-12">
                                <b>Número:</b> {{rowData.numero}}
                            </div>
                            <div class="ui-g-12">
                                <b>Peso:</b> {{rowData.peso}}g
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

