/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
}

.container-primary {
  position: inherit;
  width: 100%;
  margin: 0 auto;
}

.container-navbar {
  position: inherit;
  width: 85%;
  margin-left: 14%;
  overflow: hidden;
}

.container-body {
  width: 85%;
  margin-left: 15%;
  overflow: hidden;
  margin-top: 15px;
}

.container-body-extend {
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
  margin-left: 0;
}

.container-teste {
  position: fixed;
  width: 85%;
  margin: 0 auto;
  top: 0;
  bottom: 91.8%;
  right: 0;
  padding: 0;
  z-index: 9998;
}

@media (min-width: 1250px) {
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.calendarClass input {
  border: 1px solid red !important;
}

p-dropdown.ng-invalid.ng-touched:not(form) > div {
  border: 1px solid red !important;
  border-radius: 2px;
}




